<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.resulnba">
  <uses-permission android:name="android.permission.INTERNET" />
  <application 
      android:name="com.rn.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:enableOnBackInvokedCallback="true">

    <activity 
      android:name="com.rn.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
    </activity>

      <activity-alias
        android:name="com.resulnba.MainActivityDefault"
        android:exported="true"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
      <activity-alias
        android:name="com.resulnba.MainActivityBlazers"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_blazers"
        android:roundIcon="@mipmap/ic_launcher_blazers_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
      <activity-alias
        android:name="com.resulnba.MainActivityBucks"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_bucks"
        android:roundIcon="@mipmap/ic_launcher_bucks_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityBulls"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_bulls"
        android:roundIcon="@mipmap/ic_launcher_bulls_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityCavaliers"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_cavaliers"
        android:roundIcon="@mipmap/ic_launcher_cavaliers_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityCeltics"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_celtics"
        android:roundIcon="@mipmap/ic_launcher_celtics_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityClippers"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_clippers"
        android:roundIcon="@mipmap/ic_launcher_clippers_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityGrizzlies"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_grizzlies"
        android:roundIcon="@mipmap/ic_launcher_grizzlies_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityHawks"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_hawks"
        android:roundIcon="@mipmap/ic_launcher_hawks_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityHeat"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_heat"
        android:roundIcon="@mipmap/ic_launcher_heat_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityHornets"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_hornets"
        android:roundIcon="@mipmap/ic_launcher_hornets_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityJazz"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_jazz"
        android:roundIcon="@mipmap/ic_launcher_jazz_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityKings"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_kings"
        android:roundIcon="@mipmap/ic_launcher_kings_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityKnicks"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_knicks"
        android:roundIcon="@mipmap/ic_launcher_knicks_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityLakers"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_lakers"
        android:roundIcon="@mipmap/ic_launcher_lakers_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityMagic"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_magic"
        android:roundIcon="@mipmap/ic_launcher_magic_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityMavericks"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_mavericks"
        android:roundIcon="@mipmap/ic_launcher_mavericks_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityNets"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_nets"
        android:roundIcon="@mipmap/ic_launcher_nets_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityNuggets"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_nuggets"
        android:roundIcon="@mipmap/ic_launcher_nuggets_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityPacers"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_pacers"
        android:roundIcon="@mipmap/ic_launcher_pacers_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityPelicans"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_pelicans"
        android:roundIcon="@mipmap/ic_launcher_pelicans_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityPistons"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_pistons"
        android:roundIcon="@mipmap/ic_launcher_pistons_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityRaptors"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_raptors"
        android:roundIcon="@mipmap/ic_launcher_raptors_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityRockets"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_rockets"
        android:roundIcon="@mipmap/ic_launcher_rockets_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivitySixers"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_sixers"
        android:roundIcon="@mipmap/ic_launcher_sixers_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivitySpurs"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_spurs"
        android:roundIcon="@mipmap/ic_launcher_spurs_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivitySuns"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_suns"
        android:roundIcon="@mipmap/ic_launcher_suns_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityThunder"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_thunder"
        android:roundIcon="@mipmap/ic_launcher_thunder_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityTimberwolves"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_timberwolves"
        android:roundIcon="@mipmap/ic_launcher_timberwolves_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityWarriors"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_warriors"
        android:roundIcon="@mipmap/ic_launcher_warriors_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name="com.resulnba.MainActivityWizards"
        android:exported="true"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher_wizards"
        android:roundIcon="@mipmap/ic_launcher_wizards_round"
        android:targetActivity="com.rn.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>